@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (_root == null)
{
    <div class="loading-container full-page">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <YamlNode Node="@_root" />
}

@code {
    private YamlNodeModel? _root = null;
    protected override async Task OnInitializedAsync()
    {
        _root = await Http!.GetFromJsonAsync<YamlNodeModel>("sample-data/yaml-tree.json");
    }
}