.file-picker-container {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px lightgrey;
    cursor: pointer;
    transition: box-shadow linear 0.5s;
}

    .file-picker-container:hover {
        box-shadow: 1px 1px 15px lightgrey;
    }

    .file-picker-container > p {
        text-align: center;
    }

    .file-picker-container > .icon-container {
        font-size: 80px;
        color: #751aff;
        opacity: 0.4;
    }
