.loading-container {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(255,255,255,0.8);
}

    .loading-container.full-page {
        position: fixed;
        top: 56px;
        height: 100vh;
        width: 100vw;
    }

        .loading-container.full-page > .spinner-grow {
            position: absolute;
            top: 45%;
            left: 45%;
            width: 60px;
            height: 60px;
        }
