@page "/"

<PageTitle>Index</PageTitle>

@if (_shouldShowTree)
{
    @if (_loadingTree)
    {
        <div class="loading-container full-page">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <YamlNode Node="@_root" />
    }
}
else
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="file-picker-container col-sm-6" @ref="clickContainerElement">
            <p class="icon-container"><i class="bi bi-file-zip"></i></p>
            <p class="upload-file-text">@(_currentFile == null ? "Please select or a zip file with all the yaml files used in your azure pipeline" : _currentFile.Name)</p>
        </div>
        <div class="col-sm-3"></div>
        <InputFile OnChange="@OnInputFileChanged" @ref="fileInput" style="display:none" id="file-input" accept=".zip"/>
    </div>
}
