<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Yaml Tree Viewer</a>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            @*<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>*@
        </div>
    </nav>
</div>
