<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/">Yaml Tree Viewer</NavLink>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
        </div>
    </nav>
</div>
